<div class="p-5 rounded-lg m-3 <%= @api_color %>">
    <h1 class="display-4"><%= @final_output %></h1>
    <p class="lead"><%= @description %></p>
    <hr class="my-4">
    <p><%= @api_description %></p>
    <%# <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a> %>
</div>